@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<div class="mb-5">
    <h2 class="cta-1 text-primary">let's go to <a asp-page="./Login">Login page!</a></h2>
</div>