@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
        <div class="mb-5">
            <h2 class="cta-1 mb-0 text-primary">Password is gone?</h2>
            <h2 class="cta-1 text-primary">Let's reset it!</h2>
        </div>
        <div class="mb-5">
            <p class="h6">Please enter your email to receive a link to reset your password.</p>
        </div>
        <form id="forgotPasswordForm" method="post" class="tooltip-end-bottom">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3 filled form-group tooltip-end-top">
                <i data-cs-icon="email"></i>
                <input asp-for="Input.Email" class="form-control" placeholder="Email" />
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Send Reset Email</button>
        </form>
        </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
